<h3>Your Gift Ideas</h3>

  <% @categories.each do |category| %>
    <% if category.gifts.other_gifts.present? %>
    <h5><%= category.description %></h5>
      <table>
        <tr>
          <th>Description</th>
        </tr>
        
        <% category.gifts.other_gifts.each do |gift| %>
          <tr>
            <td><%=h gift.description %></td>
            <td>
              <%= link_to 'Edit', edit_gift_path(gift) %>
              |
              <%= link_to 'Remove', gift, :confirm => 'Are you sure you want delete this item from the list?', :method => :delete %>
            </td>
            <td></td>
          </tr>
        <% end %>
        
        </table>
    <% end %>
  <% end %>

<br />

<%= link_to 'New gift', new_gift_path(:other_gift => true) %>