<td class="grid_10 alpha">
  <div class="<%= gift.purchased_on.present? ? 'claimed' : '' %>">
    <%=h gift.description %>
  </div>
</td>
<td class="grid_2 alpha omega">
  <% if params[:admin].present? && params[:admin] == "1" %>
    <a href="gifts/<%= gift.id %>/edit" rel="facebox">Edit</a>
    |
  <% end %>
  <% if gift.purchased_on.blank? %>
    <%= link_to_remote 'Claim this gift!', :url => { :controller => "gifts", :action => "purchase", :id => gift.id }, :confirm => 'Are you sure you want to claim this gift?' %>
  <% else %>
    <%= link_to_remote 'Unclaim me', { :url => { :controller => "gifts", :action => "unpurchase", :id => gift.id }, :confirm => "Are you sure you want to unclaim this gift? Note: Please only continue with un-claiming this gift if you were the guest who originally claimed it!!" }, :class => "claimed-link" %>
  <% end %>
</td>