<h1>Editing gift</h1>

<% form_for(@gift) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <% if params[:admin].present? && params[:admin] == "1" %>
    <p>
      <%= f.label :is_admin %><br />
      <%= f.check_box :is_admin %>
    </p>
  <% end %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @gift %> |
<%= link_to 'Back', gifts_path %>