<div class="grid_12 alpha divider-right">
  <%= render :partial => "web_copy" %>
  <%= render :partial => "our_gifts" %>
  <%= render :partial => "other_gifts" %>
</div>
<div class="grid_4 omega">
  <%= render :partial => "currently_own" %>
</div>

<hr />

<div class="grid_16 alpha omega" style="padding: 0 0 40px;">
  <%= render :partial => "layouts/footer" %>
</div>