<h1>New gift</h1>

<% form_for(@gift) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <% if params[:is_admin].present? && params[:is_admin] == "true" %>
    <p>
      <%= f.label :is_admin %><br />
      <%= f.check_box :is_admin %>
    </p>
  <% end %>
  <% if params[:other_gift].present? %>
    <%= f.hidden_field :purchased_on %>
  <% end %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>