<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Sian & Dave's Gift Registry</title>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "text" %>
  <%= stylesheet_link_tag "960" %>
  <%= stylesheet_link_tag "facebox" %>
  <%= stylesheet_link_tag "app" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css" %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
  <%= javascript_include_tag 'prototype', 'application', 'facebox' %>
</head>

<body>
  <div class="container_16">
    <div class="grid_16 alpha omega" style="margin-bottom: 20px;">
      <img src="/images/banner.jpg" alt="Sian & Dave's Gift Registry" />
    </div>
    <%= yield %>
  </div>
</body>
</html>
